In [99]:
import pandas as pd
import numpy as np
df = pd.read_csv('olympics-1986-2016-cleaned.csv')
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Country
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,China
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,China
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,Denmark
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,Netherlands

In [100]:
# THINGS TO DO:
# Make sure that there only exists 1 row for each OLYMPIAN
# Group by SPORT -> Aggregate (mean) by AGE

In [101]:
# Make sure that there only exists 1 row for each OLYMPIAN
df = df.drop_duplicates(subset='Name', keep='first')

In [102]:
# Group by SPORT -> Aggregate (mean) by AGE
x = df.groupby(['Sport', 'Sex'])['Age'].mean()
df_new = pd.DataFrame(x)
df_new = df_new.reset_index()
df_new.Age = df_new.Age.round()
df_new.head()

           Sport Sex   Age
0    Aeronautics   M  26.0
1  Alpine Skiing   F  21.0
2  Alpine Skiing   M  22.0
3       Alpinism   F  43.0
4       Alpinism   M  39.0

In [103]:
df_M = df_new.loc[df['Sex'] == "M"]
df_F = df_new.loc[df['Sex'] == "F"]

# sorted(list(set(df_new.Sport.unique()) - set(df_M.Sport.unique())))
# sorted(list(set(df_new.Sport.unique()) - set(df_F.Sport.unique())))

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

In [104]:
for sport in sorted(list(set(df_new.Sport.unique()) - set(df_M.Sport.unique()))):
    df_new = df_new.append({'Sport':sport, 'Sex':'M', 'Age':0}, ignore_index=True)

for sport in sorted(list(set(df_new.Sport.unique()) - set(df_F.Sport.unique()))):
    df_new = df_new.append({'Sport':sport, 'Sex':'F', 'Age':0}, ignore_index=True)

/tmp/ipykernel_5700/3459299300.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_new = df_new.append({'Sport':sport, 'Sex':'M', 'Age':0}, ignore_index=True)
/tmp/ipykernel_5700/3459299300.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_new = df_new.append({'Sport':sport, 'Sex':'M', 'Age':0}, ignore_index=True)
/tmp/ipykernel_5700/3459299300.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_new = df_new.append({'Sport':sport, 'Sex':'M', 'Age':0}, ignore_index=True)
/tmp/ipykernel_5700/3459299300.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_new = df_new.append({'Sport':sport, 'Sex':'F', 'Age':0}, ignore_index=True)
/tmp/ipykernel_5700/3459299300.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_new = df_new.append({'Sport':sport, 'Sex':'F', 'Age':0}, ignore_index=True)
/tmp/ipykernel_5700/3459299300.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_new = df_new.append({'Sport':sport, 'Sex':'F', 'Age':0}, ignore_index=True)
/tmp/ipykernel_5700/3459299300.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_new = df_new.append({'Sport':sport, 'Sex':'F', 'Age':0}, ignore_index=True)
/tmp/ipykernel_5700/3459299300.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_new = df_new.append({'Sport':sport, 'Sex':'F', 'Age':0}, ignore_index=True)
/tmp/ipykernel_5700/3459299300.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_new = df_new.append({'Sport':sport, 'Sex':'F', 'Age':0}, ignore_index=True)
/tmp/ipykernel_5700/3459299300.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_new = df_new.append({'Sport':sport, 'Sex':'F', 'Age':0}, ignore_index=True)
/tmp/ipykernel_5700/3459299300.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_new = df_new.append({'Sport':sport, 'Sex':'F', 'Age':0}, ignore_index=True)
/tmp/ipykernel_5700/3459299300.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_new = df_new.append({'Sport':sport, 'Sex':'F', 'Age':0}, ignore_index=True)
/tmp/ipykernel_5700/3459299300.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_new = df_new.append({'Sport':sport, 'Sex':'F', 'Age':0}, ignore_index=True)
/tmp/ipykernel_5700/3459299300.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_new = df_new.append({'Sport':sport, 'Sex':'F', 'Age':0}, ignore_index=True)
/tmp/ipykernel_5700/3459299300.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_new = df_new.append({'Sport':sport, 'Sex':'F', 'Age':0}, ignore_index=True)
/tmp/ipykernel_5700/3459299300.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_new = df_new.append({'Sport':sport, 'Sex':'F', 'Age':0}, ignore_index=True)

In [105]:
df_new.to_csv("olympics-1986-2016-cleaned-3.csv", sep=',', index=False)