In [19]:
import pandas as pd
df = pd.read_csv('olympics-1986-2016-cleaned-2.csv')
df.head()

   Year  Gold  Silver  Bronze  Total
0  1896     2       0       0      2
1  1900     2       0       3      5
2  1904     0       3       1      4
3  1908     0       0       0      0
4  1912     0       0       0      0

In [20]:
df = pd.melt(df, id_vars='Year', value_vars=['Gold', 'Silver', 'Bronze'])
df = df.sort_values(by=['Year'], ascending=True)
df = df[df.value != 0]
df.rename(columns={'variable':'Medal'}, inplace=True)
df = df.loc[df.index.repeat(df.value)]
df = df.drop('value', axis=1)

In [18]:
df.to_csv("olympics-1986-2016-cleaned-2-1.csv", sep=',', index=False)